# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
.Rproj.user

*.Rproj
out/GatingSets/*
out/QC/old
out/old
out/QC/FACS_Plots/old
scripts/2020062*
scripts/20201020_Generate_Data_For_ImmPort.R
processed_data/Completed_ImmPort_Templates/
scripts/20210208_Create_Surface_Marker_ImmPort_FCS_FileMap.R
data/old
data/untracked
data/20200527 HAARVI DURT B1/*
data/20200602 HAARVI DURT B2/*
data/20200604 HAARVI DURT B3/*
!data/20200527 HAARVI DURT B1/20200527 HAARVI B1 CS2_KY.xml
!data/20200602 HAARVI DURT B2/20200602 HAARVI_DURT_B2_KY3.xml
!data/20200604 HAARVI DURT B3/20200605 HAARVI DURT B3_KY2.xml

renv/*
!renv/activate.R